<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:
      </h2>
      <ul>
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'Название поста' %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label 'Добавте картинку' %>
    <%= f.file_field :image %>
  </div>

  <div class="field">
    <%= f.label 'Текст поста' %>
    <%= f.text_area :text %>
  </div>

  <%= select("post", "category_id", Category.all.collect {|p| [ p.name, p.id ] }) %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>