<h3>
  <%= @post.title %>
</h3>
<% if @post.tags.present? %>
  <%= render partial: 'tags/tags', locals: { tags: @post.tags } %>
<% end %>
<h6>
  Рейтинг:
  <%= @post.rating %>
  <span>
    Просмотров:
    <%= @post.views %>
    <%= link_to 'Редактировать', edit_post_path(@post) if author(@post) %>
    <%= link_to 'Удалить', @post, method: :delete, data: { confirm: 'Вы уверены?'} if author(@post) %>
  </span>
</h6>
<p>
  <%= @post.text %>
</p>
<%= link_to 'Назад', :back %>
