<%= form_for(@user, url: admin_user_path(@user), method: :patch) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@user.errors.count, "error") %> prohibited this post from being saved:
      </h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'Role' %>
  </div>

  <%= select("user", "role", ['admin', 'moder', 'user']) %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>